---
import WebLayout from "../_components/layouts/web-layout/index.astro";
import BlogReader from "@modules/blog-post/components/blog-reader";
import { getLangFromUrl, useTranslations } from "../../../i18n";
import { type WebBlogSlugResponseDto } from "@modules/web/dtos/web.response.dto";
import dayjs from "dayjs";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { post } = Astro.locals.props as WebBlogSlugResponseDto;

if (!post) {
  return Astro.redirect("/404");
}
---

<WebLayout title={`Blog: ${post.title}`}>
  <div class="container mx-auto py-20 px-4 max-w-4xl">
    <a
      href={`/${lang}/blog`}
      class="text-[10px] font-mono text-muted-foreground hover:text-primary mb-12 flex items-center gap-2 group transition-all"
    >
      <span class="group-hover:-translate-x-1 transition-transform inline-block"
        >&lt;</span
      >
      {t("slug.back_to_archives")}
    </a>

    <BlogReader
      client:only="preact"
      title={post.title}
      content={post.content}
      author={`Author #${post.author_id}`}
      date={dayjs(post.published_at).format("YYYY-MM-DD")}
      readingTime={`${post.reading_time_minutes || 5} MIN`}
      likes={0}
      comments={0}
      lang={lang}
      id={post.id}
    />
  </div>
</WebLayout>
